@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(primary-iran-sans.css);
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

html,
body {
    font-family: 'primary-font';
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
    background-color: #c0c2c5;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c0c2c5;
    border-radius: 16px;
    width: 8px;
}