.main_home_slider {
    height: 200px;
}

@media (min-width: 1281px) {
    .main_home_slider {
        height: 400px;
    }
}

.main_home_slider > .swiper-pagination-main > .swiper-pagination-bullet {
    background-color: white !important;
}
.main_home_slider > .swiper-pagination-main > .swiper-pagination-bullet-active {
    background-color: #fff !important;
}
